body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #1B244A
}

h3 {
    color: #EEEEEE;
    font-family: Verdana;
    font-size: 5vmin;
}

.lock-aspect-ratio {
    display: inline-block;
    position: relative;
    width: 80%;
    padding-bottom: 50%;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px 10px #9AABD8;
    border-radius: 10px;
}

.team-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.score-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #080001;
    width: 60%;
    height: 50%;
    margin-bottom: 5%;
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 15vmin;
}

.button-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 10%;
}

.points-btn {
    background-color: #1B244A;
    color: #9AABD8;
    border: solid 1px #9AABD8;
    border-radius: 3px;
    width: 20%;
    height: 100%;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 3vmin;
    padding: 1%;
    transition: 500ms;
}

.points-btn:hover {
    background-color: teal;
}

.new-game-btn {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 110%;
    left: 40%;
    font-size: 3vmin;
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    border-radius: 10px;
    color: #9AABD8;
    font-family: verdana;
    transition: 500ms;
}

.new-game-btn:hover {
    background-color: teal;
}

.winning {
    box-shadow: 0px 0px 10px 1px #EEEEEE;
}

.losing {
    box-shadow: 0px 0px 0px 0px #EEEEEE;
}